.header { 
	background: url(../images/head-bg.jpg) center;
	background-size: cover;
}

.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
